

.header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: var(--dark-blue);
}

.logo {
  padding-left: 12px;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .logo {
    padding-left: 15px;
  }
}