body {
  margin: 0;
}

button {
  border: none;
}

* {
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --dark-blue: #052C54;
  --light-blue: #F4F7FF;
  --mid-blue: #DBE5FF;
  --gray: #7C89A0;
  --purple: #5325EA;
}